<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
  <testsuites>
    <testsuite name="Permissions Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
  <php>
    <env name="APP_KEY" value="base64:aZVH1lLHjIybsKFBazX7zIY5hCQr07o/8AOLmbbQbFE="/>
    <env name="CACHE_DRIVER" value="array"/>
  </php>
</phpunit>
