@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    button, [role="button"], input[type="checkbox"] {
        @apply cursor-pointer;
        @apply disabled:cursor-not-allowed;
    }

    :root {
        --current-mode: var(--color-black);

        @variant dark {
            --current-mode: var(--color-white);
        }
    }
}

@theme inline {
    --color-current-mode: var(--current-mode);
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

    --shadow: 2px 2px 0 0 var(--color-current-mode);
}

html {
    @apply h-full bg-gray-100;
}

body {
    @apply h-full;
}

.active {
    @apply bg-indigo-700 text-white;
}

.inactive {
    @apply text-white hover:bg-indigo-500/75;
}

.row-selected {
    @apply bg-gray-50;
}

.tdh-selected {
    @apply text-indigo-600;
}

.tdh-unselected {
    @apply text-gray-900;
}

.tdl-selected {
    @apply text-indigo-400;
}

.tdl-unselected {
    @apply text-gray-500;
}

.comma-list {
    @apply list-none p-0 inline; /* Remove default list styling, padding, and make inline */
}

.comma-list li {
    @apply inline; /* Make list items display inline */
}

.comma-list li::after {
    content: ", "; /* Add a comma and space after each item */
}

.comma-list li:last-child::after {
    content: ""; /* Remove the comma after the last item */
}
